<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.schertel.friederike.ecliphistory.EClipHistoryActivator"></startup>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.schertel.friederike.ecliphistory.view.EClipHistoryViewPart"
            id="org.schertel.friederike.ecliphistory.view.view"
            name="eClipHistory"
            restorable="true">
      </view>
   </extension>

</plugin>
